.env
frontend/.env

.DS_Store
**/.DS_Store

__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/
.venv/

frontend/node_modules/
frontend/dist/
frontend/*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts

app/static/assets/
app/static/index.html

celerybeat-schedule*
